.faq {
	font-family: AvenirNext-Regular;
	color: #000000;
}

.topbar {
	font-family: AvenirNext-Bold;
	font-size: 36px;
	color: black;/*#FFFFFF*/
	line-height: 49px;
}

.logo {
	font-size: 18px;
	line-height: 25px;
}

.nav_title {
	font-size: 23px;
	line-height: 16px;
	color: #4A4A4A;
}

.nav_content {
	font-family: AvenirNext-DemiBold;
	font-size: 12px;
	line-height: 16px;
}

.content {
	font-size: 18px;
	line-height: 25px;
}

.content h3 {
	font-family: AvenirNext-Medium;
	font-size: 26px;
	line-height: 36px;
}

.support {
	font-size: 18px;
	line-height: 25px;
}