/* HTML */
body {
    font-family: AvenirNext-Bold, serif;
    font-size: 18px;
    margin-bottom: 0%;
}

label { margin-bottom: 20px }

hr {
    border: none;
    height: 1px;
    color: #bcbcbc;
    background-color: #bcbcbc;
    width: 100%;
}

h1 { font-weight: bold; }
h2 { font-weight: bold; }
h3 { font-weight: bold; }
h4 { font-weight: bold; }
h5 { font-weight: bold; }
h6 { font-weight: bold; }

a:hover {
    text-decoration: underline;
}

/* Classes */
    /* Navbar */
    .navbar {
        margin-top: 3%;
        font-size: 25px;
    }

    .navbar li:hover {
        text-decoration: underline;
    }

    .navbar a { color: black; }
    .navbar-right a { color: black; }

    .navbar button {
        color: black;
        margin-left: 20px;/*Not responsive currently, fix this! */
    }

    .nav-justified {
        width: 50%;
        margin: 0 auto;
    }

    /* Containers, Jumbotrons, and Columns */
    .darkGrey { color: #bcbcbc }
    .lightGrey { color: #e9e9e9 }
    .blue { color: #10cdef; }
    .green { color: #18ac0b; }

    .col-centered { float: none; margin: 0 auto; }

.centered { text-align: center; }

.vecticalButton { vertical-align: center; }

.form-horizontal { text-align: right }

.btn .btn-link {
    background: white;
    font-weight: 700;
}

.btn-link { color: black;}

.vertSpace5 { margin-bottom: 5%; }
.vertSpace8 { margin-bottom: 8%; }
.vertSpace10 { margin-bottom: 10%; }
.vertSpace20 { margin-bottom: 20%; }
.vertSpace25 { margin-bottom: 25%; }

.transparent {
  background: transparent;
  border: none;
}

.white { color: white; }

.glyphicon {
  font-size: 40px;
}

/* ID's */
#background {
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-top: -3%;
}
