/* Signup Page*/
.signup {
    /*font-family: AvenirNext-Regular;*/
    color: #4A4A4A;
}

.signup .header {
    height: 322px; 
    width: 1224px;              /* Note that I stretch the picture a little bit in order to make it hover above all the contents and this is probably bad*/
    margin:0px auto;
    text-align: center;
}

.signup .header h1 {
    font-size: 36px;
    color: #FFFFFF;
    line-height: 420px;         /* I changed the line height in order to properly place the title.*/
    font-weight: bold;
    margin:auto;
}

.signup .title{
    font-size: 25px;
    line-height: 34px;
}

.signup .subtitle {
    font-size: 16px;
    line-height: 22px;
}

.signup .content {
    font-size: 18px;
    line-height: 25px;
}

.signup .content input {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    border-radius: 3px;
}

.signup .content select {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    border-radius: 3px;        
}

.signup .content button {
    background: #1DD3AA;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 2px 0px 0px #FFFFFF;
    border-radius: 6px;
    font-size: 14.89px;
    line-height: 20px;
}

.signup .radio input {
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
}

.signup .radio label {
    font-size: 14px;
    line-height: 19px;
}

.signup .alert {
    color: red;
}
