/* Signup Page*/
.signup {
    /*font-family: AvenirNext-Regular;*/
    color: #4A4A4A;
}

.header {
    height: 2%;
    margin:0px auto;
    text-align: center;
}

.header h1 {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: bold;
    margin:auto;
}

.title{
    font-size: 25px;
    line-height: 34px;
}

.subtitle {
    font-size: 16px;
    line-height: 22px;
}

.content {
    font-size: 18px;
    line-height: 25px;
}

.content input {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    border-radius: 3px;
}

.content select {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    border-radius: 3px;
}

.content button {
    background: #1DD3AA;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 2px 0px 0px #FFFFFF;
    border-radius: 6px;
    font-size: 14.89px;
    line-height: 20px;
}

.radio input {
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
}

.radio label {
    font-size: 14px;
    line-height: 19px;
}

.alert {
    color: red;
}
