<!-- Academic Integrity -->
  <style>
    #background {
      background-image: url('../images/backgrounds/footers.png');
    }
  </style>
  <link rel="stylesheet" href="../styles/footers.css"/>

<div class="container">
  <div class="row">
      <h3 class="centered vertSpace20">Academic Integrity</h3>


      <p>You acknowledge and agree that all tutoring sessions powered by Helpers are provided to facilitating learning, not cheating. Although we work diligently to prevent cheating through Helpers, you are responsible for acting according to the honor code enacted by your school. You are required to abide by the honor code and not to participate in activities that involves cheating while using Helpers’ services. </p>

      <p>As students, examples of such activities are:</p>
      <ol>
          <li>Seeking help for take home tests and quizzes that instructors have forbidden the use of outside help.</li>
          <li>Asking tutors to do problem sets or papers on your behalf.</li>
          <li>Any attempt to complete the assignment without understanding the assignment with the help of tutors found on <i>Helpers</i>.</li>
          <li>Any other activities that violates the honor code of users’ school, university, academic institution or workplace.</li>
        </ol>

      <p>As tutors, examples of such activities are:</p>
        <ol>
          <li>Providing help for take home tests and quizzes that the students’ instructors have forbidden the use of outside help.</li>
          <li>Doing problem sets or writing papers on students behalf.</li>
          <li>Helping students to complete their assignment without their understanding of the material.</li>
          <li>Any other activities that violates the honor code of users’ school, university, academic institution or workplace. </li>
        </ol>

      <p>We will take action against users that are identified to have violated this honor code. If Helpers finds evidences in users’ violation, we may, in its sole discretion, terminate account of the users who were involved in cheating activities. <i>Helpers</i> does not take responsibility in any consequences caused by the violation of the honor code.</p>

    </div>

</div>


