<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Helpers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/helpers.css">
    <!-- endbuild -->
  </head>
  <body ng-app="HelpersApp" ng-controller="loginCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-show='true' class="navbar transparent">
      <div class='navbar-inner'>
        <ul class="nav nav-center">
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref='aboutUs'>About Us</a></li>
          <li><a ui-sref='contactUs'>Contact Us</a></li>
          <li><a ui-sref='faq'>FAQ</a></li>
          <li><button type='button' class='btn btn-default' ng-click='toggleLogin()' ng-hide='signedIn'>Login</button></li>
          <li><button type='button' class='btn btn-default' ui-sref='preSignup' ng-hide='signedIn'>Sign Up</button></li>
          <li><a ui-sref='account.genInfo' ng-show='signedIn'>My Account</a></li>
          <li><button type='button' class='btn btn-default' ng-click='logOut()' ng-show='signedIn'>Log Out</button></li>
        </ul>    
      </div>
    </div>

    <modal title='Login' visible='showLogin()'><!-- Login popup -->
      <form role='form'>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model='loginDetails.username_or_email' required/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model='loginDetails.password' required/>
        </div>
        <button type="submit" class="btn btn-default" ng-click='loginAttempt(loginDetails)'>Submit</button>
      </form>
    </modal>

    <div ui-view></div> <!-- Where the code from other pages will be injected -->

    <div class='jumbotron centered'><!-- Footer at the bottom of the page -->
      <div class='container centered'>
      <footer>
        <ul class='list-inline'>
          <li><p ui-sref='termsOfUse' class='btn btn-link'>Terms of Use</p></li>
          <li><p ui-sref='privacy' class='btn btn-link'>Privacy</p></li>
          <li><p ui-sref='academicIntegrity' class='btn btn-link'>Academic Integrity</p></li>
          <li><p ui-sref='safetyTips' class='btn btn-link'>Safety Tips</p></li>
        </ul>
        <p>&copy; Helpers Technology, Inc 2014-2015 | All Rights Reserved</p>
      </footer>
      </div>
    </div>


    <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-61903187-1');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-router-styles/ui-router-styles.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/config.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/preSignup.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/controllers/upload.js"></script>
        <script src="scripts/directives/modal.js"></script>
        <script src="scripts/misc/functions.js"></script>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <!-- For IE 9 -->
        <script src="scripts/controllers/angular-scroll.js"></script> 
        <!-- endbuild -->
</body>
</html>
