<div class='container' ng-controller="viewCtrl">
  <link rel="stylesheet" href="../styles/home.css"/>
  <div class='row'>
    <div class='col-xs-3'><!-- Side navigation -->
      <div ui-sref="home.landing">
        <div class='col-xs-4'>
          <img src='images/smallLogo.png' class='img-responsive'>
        </div>
        <div class='col-xs-8'>
          <p>Welcome!</p>
        </div>
      </div>

      <div class='col-xs-12'>
        <form>
          <div class='form-group' ng-hide="checkPage('landing')">
            <div class='radio' ng-repeat="page in ['whatever', 'whenever', 'whoever', 'wherever']">
              <label>
                <input type='radio' name='homeNav' ng-checked='checkPage("{{page}}")' ui-sref='home.{{page}}'>{{page |
                capitalize}}
              </label>
            </div>

            <div class='radio'><!-- Special for $$$ever due to weird characters -->
              <label class='radio-inline'>
                <input type='radio' name='homeNav' ng-checked='checkPage("moneyEver")' ui-sref='home.moneyEver'>$$$ever
              </label>
            </div>
          </div>
        </form>
        <!-- /viewCtrl form -->
      </div>
    </div>
    <!-- /side nav-->

    <div class='col-xs-9'>
      <div id="root">
        <div id="container">
          <div id="content">
            <div ui-view></div>
          </div>
        </div>
      </div>
    </div>
    <!-- /main views -->
  </div>
  <!-- /row -->
</div><!-- /container -->
