<div class="page" id="page-2">
    <!--Whatever-->
    <div class="page-title">
        <div class="page-icon"></div>
        <h1><img src="../images/Home/notebook_F.png" />  Whatever</h1>
    </div>
    <div class="text-box">
        <div class="page-left">
            <h5>For Students...</h5>
            <p> Our tutors are certified in a variety of<br>
                subjects, from music theory to string<br>
                theory, you name it.</p>
        </div>
        <div class="page-iphone"><img src="../images/Home/iPhone_5s.png" /></div>
        <div class="page-right">
            <h5>For Tutors...</h5>
            <p> Teach classes you have taken. Follow<br>
                three steps to get your certifications<br>
                today!</p>
        </div>
        <div style="clear:both"></div>
    </div>
</div>