<div class="page" id="page-3">
    <!--Whenever-->
    <div class="page-title">
        <div class="page-icon"></div>
        <h1><img src="../images/Home/clock_F.png" />  Whenever</h1>
    </div>
    <div class="text-box">
        <div class="page-left">
            <h5>For Students...</h5>
            <p> You can schedule both instantaneous<br>
                appointments and in-advance<br>
                appointments. Learn whenever you<br>
                want.</p>
        </div>
        <div class="page-iphone"><img src="../images/Home/iPhone_5s.png" /></div>
        <div class="page-right">
            <h5>For Tutors...</h5>
            <p> You can input your weekly schedule<br>
                into your profile. Scheduling an<br>
                appointment never becomes so easy.</p>
        </div>
        <div style="clear:both"></div>
    </div>
</div>