<div class="centered">
  <span class="glyphicon glyphicon-upload transparent white" ui-sref="home.whatever"></span>
</div>

<div class="page" id="page-3">
  <!--Whenever-->
  <div class="page-title">
    <div class="page-icon"></div>
    <h1><img src="../images/Home/clock_F.png"/> Whenever</h1>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <h5>For Students...</h5>

      <p> You can schedule both instantaneous appointments and in-advance appointments. Learn whenever you want.</p>
    </div>

    <div class="col-xs-4">
      <img src="../images/Home/iPhone_5s.png"/>
    </div>

    <div class="col-xs-4">
      <h5>For Tutors...</h5>

      <p> You can input your weekly schedule into your profile. Scheduling an appointment never becomes so easy.</p>
    </div>
  </div>
  <!-- /row -->
</div>

<div class="centered">
  <span class="glyphicon glyphicon-download transparent white" ui-sref="home.whoever"></span>
</div>
