<div class="centered">
  <span class="glyphicon glyphicon-upload transparent white" ui-sref="home.whoever"></span>
</div>

<div class="page" id="page-5">
  <!--Wherever-->
  <div class="page-title">
    <div class="page-icon"></div>
    <h1><img src="../images/Home/location_F.png"/> Wherever</h1>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <h5>For Students...</h5>

      <p> Our pinning feature saves your favorite meeting location. Learn wherever you want.</p>
    </div>

    <div class="col-xs-4">
      <img src="../images/Home/iPhone_5s.png"/>
    </div>

    <div class="col-xs-4">
      <h5>For Tutors...</h5>

      <p> Hold a quick session at wherever you are. You can sort student requests by location.</p>
    </div>
  </div>
  <!-- /row -->
</div>

<div class="centered">
  <span class="glyphicon glyphicon-download transparent white" ui-sref="home.moneyEver"></span>
</div>
