/* Navigation */
.topbar{
	font-family: AvenirNext-Regular;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 27px;
	background-repeat: no-repeat;
	background-image:url(images/1.png);
	height:50%;
}

.topbar p{
	font-family: AvenirNext-Bold;
	font-size:36px;
	color:#FFFFFF;
	line-height:49px;
}

span{
	color:#000000;
	border-width: 2px;
	border-radius:8px;
	border-style: solid;
	border-color: #FFFFFF;
	background:#FFFFFF;
}

/* Text */
h3{
	font-family: AvenirNext-Bold;
	font-size:25px;
	color:#000000;
	line-height:20px;
	text-align: center;
	margin:5%;
}

.st_text p{
	font-family: AvenirNext-Regular;
	font-size:18px;
	color:#000000;
	line-height:20px;
	text-align: left;
	margin-right:10%;
	margin-left:10%;
	margin-bottom:2%;
}

ol li{
	font-family: AvenirNext-Regular;
	font-size:18px;
	color:#000000;
	line-height:20px;
	margin-right:10%;
	margin-left:10%;
	margin-top:3%;
	margin-bottom:3%;

}

/* bottom section */
.botnav{
	font-family:AvenirNext-Regular;
	font-size:13.03px;
	margin-bottom: 5%; 
	color: #4A4A4A;
	text-align: center;
}

footer {
	text-align: center;
	font-family: Times-Roman;
	font-size: 12px;
	color: #808080;
	line-height: 16px;
}

#red { color: red;}