<div class='container aboutUs'>
  <style>
    #background {background-image: url('../images/backgrounds/aboutContact.png'); }
  </style>
	<div class="row title centered">
		<div class='col-xs-3'></div>
		<div class='col-xs-9'>
			<h1>About Us</h1>
		</div>
	</div>

	<div class='vertSpace25'></div>

	<div class="row" ng-controller='viewCtrl'>
	  <div class="col-xs-3">
			<img src="images/logoWithHelpers.png" />
			<div class="radio">
				<label><input ng-checked='checkPage("ourStory")' ui-sref='aboutUs.ourStory' type="radio">Our Story</label>
			</div>
			<div class="radio">
				<label><input ng-checked='checkPage("ourVision")' ui-sref='aboutUs.ourVision' type="radio">Our Vision</label>
			</div>
		</div>

		<div class="col-xs-9">
			<div ui-view></div>
		</div>
	</div><!-- /row -->
</div><!-- /container -->
