<h2 class="centered subtitle">Our Vision</h2>

<p>
  As we reviewed for finals last year, we had many last-minute questions which could not be	answered as professors were not holding office hours and the school’s learning center was	closed. We hoped that we could find someone to answer our questions at any time we wished. The ideal situation we had in mind was discovering that the person who sat next to	you at the library could answer your questions as he took a study break. We also thought it would be helpful to earn spending money by answering others’ questions as they studied for their finals. Therefore, we decided to make this dream come true by creating an application that instantly matches the academic needs among students. We hope to make students’ “tutoring” and “being tutored” experiences as smooth as possible so “tutoring” no longer is a serious and formal teaching session but a casual intellectual conversation among students.
</p>
