<!-- faq.html -->
<div class="container faq">
  <style>
    #background {
      background-image: url('../images/backgrounds/faq.png');
    }
  </style>
  <!--Page title-->
  <div class="row centered topbar">
    <div class='col-xs-3'></div>
    <div class='col-xs-9'>
      <h1>FAQ</h1>
    </div>
  </div>

  <div class="vertSpace25"></div>

  <div class="row" ng-controller='faqCtrl'>
    <!-- Side Navigation Bar-->
    <div class="col-xs-3" ng-controller='viewCtrl'>
      <img src="images/logoWithHelpers.png"/>

      <p>FAQ</p>

      <div class="form-group">
        <div class="radio nav_title">
          <label><input type="radio" ng-checked="checkPage('everyone')" ui-sref="faq.everyone">For Everyone</label>
        </div>


        <div class="radio nav_title">
          <label><input type="radio" ng-checked="checkPage('tutor')" ui-sref="faq.tutor">For Tutors</label>
        </div>


        <div class="radio nav_title">
          <label><input type="radio" ng-checked="checkPage('student')" ui-sref="faq.student">For Students</label>
        </div>
      </div>
    </div>
    <!-- /side-nav-->

    <div ui-view></div>
  </div>

  <div class="row centered">
    <p>For other questions, please email us at <a href="mailto:support@helpers.io.">support@helpers.io</a>.</p>
  </div>
</div>
