<!-- faq.html -->
<div class="container faq">
  <style>
    #background {
      background-image: url('../images/backgrounds/faq.png');
    }
  </style>
  <!--Page title-->
  <div class="row centered">
    <h1>FAQ</h1>
  </div>

  <div class="vertSpace25"></div>

  <div class="row centered" ng-controller='faqCtrl'>
    <p class="btn btn-info" ui-sref="faq.student">
      For Students
    </p>

    <p class="btn btn-info" ui-sref="faq.everyone">
      For Everyone
    </p>

    <p class="btn btn-info" ui-sref="faq.tutor">
      For Tutors
    </p>

    <div ui-view></div>
  </div>

  <div class="row centered">
    <p>For other questions, please email us at <a href="mailto:support@helpers.io.">support@helpers.io</a>.</p>
  </div>
</div>
