<!-- faq.html -->
<link type= "text/css" rel="stylesheet" href="styles/faq.css" scoped/>
<div class="container faq">
		<!--Page title-->
	<div class="row centered topbar">
		<h1>FAQ</h1>
	</div>

	<div class = "row" ng-controller='faqCtrl'>
		<!-- Side Navigation Bar-->
		<div class="col-xs-3" ng-controller='viewCtrl'>
			<img src="images/Logo1 + Helpers.png" style="float:left"/> 
			<p class = "logo">FAQ</p>

			<div class = "form-group">
				<div class = "radio nav_title">
					<label><input type = "radio" ng-checked="checkPage('everyone')" ui-sref="faq.everyone">For Everyone</label>
				</div>
				<div class = "form-group" ng-show="checkPage('everyone')">
					<div class='radio' ng-repeat='q in qEveryone'>
						<label><input type='radio' id='everyone{{$index}}' ng-click='scrollTo("everyone", {{$index}})'>{{q.question}}</label>
					</div>
				</div>

				<div class = "radio nav_title">
					<label><input type="radio" ng-checked="checkPage('tutor')"ui-sref="faq.tutor">For Tutors</label>
				</div>
				<div class = "form-group" ng-show="checkPage('tutor')">
					<div class='radio' ng-repeat='q in qTutor'>
						<label><input type='radio' id='tutor{{$index}}' ng-click='scrollTo("tutor", {{$index}})'>{{q.question}}</label>
					</div>
				</div>

				<div class = "radio nav_title">
					<label><input type="radio" ng-checked="checkPage('student')"ui-sref="faq.student">For Students</label>
				</div>
				<div class = "form-group" ng-show="checkPage('tutor')">
					<div class='radio' ng-repeat='q in qStudent'>
						<label><input type='radio' id='student{{$index}}' ng-click='scrollTo("student", {{$index}})'>{{q.question}}</label>
					</div>
				</div>
			</div>
			
		</div>
    
		<div ui-view></div>
	</div>

	<div class = "row centered support">
		<p>For other questions, please email us at <a href="mailto:info@helpers.io.">info@helpers.io</a>.</p>
	</div>
</div>