<div class="tutors col-xs-9">

	<!--Text part for tutors-->
			<h3 class = "centered"> For Tutors </h3>
					<ol>
						<li><dt><b>How do I become a tutor with <i>Helpers</i>?</b></dt></li>
						<dd><p>After signing up for an account with <i>Helpers</i> you can go to "Me" and go to "Tutor Account Information." You may add courses that you would like to tutor. After that, you are eligible to teach!</p></dd>
						
						<li><dt><b>Can I only be a tutor but not a student? </b></dt></li>
						<dd><p>We designed our app to allow users to be both students and tutors. You can just ignore the features for students if you only wish to teach</p></dd>

						<li><dt><b>Do I have to be certified in order to teach?</b></dt></li>
						<dd><p>No, you can start teaching once you have added the course</p></dd>

						<li><dt><b>What if I cancel an appointment?</b></dt></li>
						<dd><p>You can</p></dd>

						<li><dt><b>How are payments done? Do I need to bring cash?</b></dt></li>
						<dd><p> All payment is done through our app with the card information provided by both users. There sill be no need for cash transaction.</p></dd>
					</ol>
</div>