<!-- Generate forgot password page -->
<div class='container'>
  <hr>
  <div class="vertSpace25"></div>

  <div class='row'>

    <div class='col-xs-3'><!-- Side navigation -->
      <div class='col-xs-4'>
        <img src='images/smallLogo.png' class='img-responsive'>
      </div>
      <div class='col-xs-8'>
        <p>Welcome!</p>
      </div>

      <form ng-ctrl='viewCtrl'>
        <div class='form-group'>
          <div class='radio'>
            <label>
              <input type='radio' name='accountView' ng-checked='checkPage("genInfo")' ui-sref='account.genInfo'>General Information
            </label>
          </div>

          <div class='radio'>
            <label class='radio-inline'>
              <input type='radio' name='accountView' ng-checked='checkPage("cardInfo")'ui-sref='account.cardInfo'>Card Information
            </label>
          </div>

          <div class='radio'>
            <label class='radio-inline'>
              <input type='radio' name='accountView' ng-checked='checkPage("transactionHistory")' ui-sref='account.transactionHistory'>Transaction History
            </label>
          </div>

          <div class='radio'>
            <label class='radio-inline'>
              <input type='radio' name='accountView' ng-checked='checkPage("certifications")' ui-sref='account.certifications'>Certifications
            </label>
          </div>
        </div>
      </form>
    </div>

    <div ui-view>
    </div>

  </div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61903187-1', 'auto');
  ga('send', 'pageview');
</script>
