<!-- Certifications, My Account -->
<div class='col-xs-6 centered'><!-- Certification -->
  <h2>Certification</h2>

  <h4>Certified</h4>
  <div class='col-xs-4'>
    Course Name
  </div>
  <div class='col-xs-4'>
    Course Number
  </div>
  <div class='col-xs-4'>
    Date Certified
  </div>
  <hr>
  <!-- Inject current certifications -->

  <br><br>
  <h4>Pending</h4>
  <div class='col-xs-4'>
    Course Name
  </div>
  <div class='col-xs-4'>
    Course Number
  </div>
  <div class='col-xs-4'>
    Date Certified
  </div>
  <hr>
  <!-- Inject pending Certifications -->

  <br><br>
  <p class='btn btn-info'>
    Request Certification
  </p>
</div> 


<!-- This is the old certifications showing, might be nice to steal UI from here 
<div class='tab-pane fade'>
  <h3>Your Certifications</h3>
  <hr>

  <div id="menu" style='font-size: 20px'>
    <div class="panel list-group">
      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#math" data-parent="#menu">Mathematics <span class="label label-info">3</span> </a>
      <div id="math" class="sublinks collapse">
        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Differential Equations</a>
        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Linear Algebra</a>
        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Multivariable Calculus</a>
      </div> 

      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#hist" data-parent="#menu">History <span class="label label-info">2</span></a>
      <div id="hist" class="sublinks collapse">
        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Modern History</a>
        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Cold War</a>
      </div>

      <a href="#" class="list-group-item" data-toggle="collapse" data-target="#pending" data-parent="#menu">Pending Certifications <span class="label label-info">2</span></a>
      <div id="pending" class="sublinks collapse">
        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Analysis</a>
        <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Medieval History</a>
      </div>
    </div>
  </div>

  <div class='col-xs-12 centered'>
    <a href='certification.html' class='btn btn-default'>Request Certification</a>
  </div>
</div> -->