<div class='container'>
  <style>
    #background { background-image: url('../images/backgrounds/aboutContact.png'); }
  </style>
  <div class="row centered title">
    <h1>Contact Us</h1>
  </div>

  <div class="vertSpace25"></div>

  <div class="row">
    <h2 class="subtitle centered">Join Us</h2>

    <p class="content centered">If you are interested in joining our team, please email us at <a href="mailto:info@helpers.io.">info@helpers.io</a>.</p>

    <h2 class="subtitle centered">Press</h2>

    <p class="content centered">For press inquiries, please email us at <a href="mailto:info@helpers.io." class="STYLE6">info@helpers.io</a>.</p>

  </div>
</div>
