﻿<div class='container' style="margin-top: -12%">
  <style>
    #background {
      background-image: url('../images/backgrounds/homeLanding.png');
    }
  </style>
  <div class='row'>
    <div class="jumbotron transparent centered"><!-- landing -->
      <div class="vertSpace5"></div>

      <img src="../images/Home/longLogo.png" style="width: 50%" class="img-responsive img-centered"/>

      <div class="vertSpace5"></div>

      <div class="vertSpace5">
        <h3>Become empowered to learn and teach!</h3>
      </div>

      <div>
        <button class="btn btn-success btn-lg vertSpace2" type="button"
                ui-sref='preSignup'><strong>Join Helpers Now!</strong></button>
      </div>
      <span class="glyphicon glyphicon-menu-down icon-large white" ng-controller="scrollCtrl" ng-click="scrollTo('evers')"></span>
    </div>
    <!-- /landing -->
  </div>
  <!-- /row -->
</div>
