<script>
    angular.module('myApp', ['duScroll'])
            .controller('MyCtrl', function($scope, $document){
                $scope.toTheTop = function() {
                    $document.scrollTopAnimated(0, 5000).then(function() {
                        console && console.log('You just scrolled to the top!');
                    });
                }
                var section3 = angular.element(document.getElementById('section-3'));
                $scope.toSection3 = function() {
                    $document.scrollToElementAnimated(section3);
                }
            }
    ).value('duScrollOffset', 30);
</script>

<div ng-app="myApp" ng-init="currentPage = 1">
<div class="wrap" ng-controller="MyCtrl">
    <div id="root">
        <div id="container">
            <div id="content">
                <div id="page-1" name="page1">
                    <!--Home-->
                    <div id="helpers-icon">
                        <img src="images/Home/Helpers%20Long%20Logo.png" />
                    </div>
                    <div id="subtitle">
                        <h4>An efficient platform for you to connect<br>
                            with tutors and students.</h4>
                    </div>
                    <div id="page-1-buttons">
                        <button class="btn btn-default" type="button" id="page-1-btn-student"><strong>Become a Student</strong></button>
                        <button class="btn btn-default" type="button" id="page-1-btn-tutor"><strong>Become a Tutor</strong></button>
                    </div>
                </div>

                <div id="page-other">

                    <div name="page2" style="margin-top:1000px; margin-bottom: 150px; opacity: 0">.</div>
                    <div class="page" id="page-2">
                        <!--Whatever-->
                        <div class="page-title">
                            <div class="page-icon"></div>
                            <h1><img src="images/Home/notebook_F.png" />  Whatever</h1>
                        </div>
                        <div class="text-box">
                            <div class="page-left">
                                <h5>For Students...</h5>
                                <p> Our tutors are certified in a variety of<br>
                                    subjects, from music theory to string<br>
                                    theory, you name it.</p>
                            </div>
                            <div class="page-iphone"><img src="images/Home/iPhone_5s.png" /></div>
                            <div class="page-right">
                                <h5>For Tutors...</h5>
                                <p> Teach classes you have taken. Follow<br>
                                    three steps to get your certifications<br>
                                    today!</p>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </div>

                    <div name="page3" style="margin-top:1000px; margin-bottom: 150px; opacity: 0">.</div>
                    <div class="page" id="page-3">
                        <!--Whenever-->
                        <div class="page-title">
                            <div class="page-icon"></div>
                            <h1><img src="images/Home/clock_F.png" />  Whenever</h1>
                        </div>
                        <div class="text-box">
                            <div class="page-left">
                                <h5>For Students...</h5>
                                <p> You can schedule both instantaneous<br>
                                    appointments and in-advance<br>
                                    appointments. Learn whenever you<br>
                                    want.</p>
                            </div>
                            <div class="page-iphone"><img src="images/Home/iPhone_5s.png" /></div>
                            <div class="page-right">
                                <h5>For Tutors...</h5>
                                <p> You can input your weekly schedule<br>
                                    into your profile. Scheduling an<br>
                                    appointment never becomes so easy.</p>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </div>

                    <div name="page4" style="margin-top:1000px; margin-bottom: 150px; opacity: 0">.</div>
                    <div class="page" id="page-4">
                        <!--Whoever-->
                        <div class="page-title">
                            <div class="page-icon"></div>
                            <h1><img src="images/Home/ID_card_F.png" />  Whoever</h1>
                        </div>
                        <div class="text-box">
                            <div class="page-left">
                                <h5>For Students...</h5>
                                <p> You can choose whoever you want to<br>
                                    study with, let it be your classmate or<br>
                                    your TA.</p>
                            </div>
                            <div class="page-iphone"><img src="images/Home/iPhone_5s.png" /></div>
                            <div class="page-right">
                                <h5>For Tutors...</h5>
                                <p> Meet your fellow classmates and help<br>
                                    them with your knowledge. Choose a<br>
                                    posted student request to tutor<br>
                                    today!</p>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </div>

                    <div name="page5" style="margin-top:1000px; margin-bottom: 150px; opacity: 0">.</div>
                    <div class="page" id="page-5">
                        <!--Wherever-->
                        <div class="page-title">
                            <div class="page-icon"></div>
                            <h1><img src="images/Home/location_F.png" />  Wherever</h1>
                        </div>
                        <div class="text-box">
                            <div class="page-left">
                                <h5>For Students...</h5>
                                <p> Our pinning feature saves your<br>
                                    favorite meeting location. Learn<br>
                                    wherever you want.</p>
                            </div>
                            <div class="page-iphone"><img src="images/Home/iPhone_5s.png" /></div>
                            <div class="page-right">
                                <h5>For Tutors...</h5>
                                <p> Hold a quick session at wherever you<br>
                                    are. You can sort student requests by<br>
                                    location.</p>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </div>

                    <div name="page6" style="margin-top:1000px; margin-bottom: 150px; opacity: 0">.</div>
                    <div class="page" id="page-6">
                        <!--$$$ever-->
                        <div class="page-title">
                            <div class="page-icon"></div>
                            <h1><img src="images/Home/dollar_F.png" />  $$$ever</h1>
                        </div>
                        <div class="text-box">
                            <div class="page-left">
                                <h5>For Students...</h5>
                                <p> Our system allows you to find tutors<br>
                                    at whatever price. You pay what you<br>
                                    want.</p>
                            </div>
                            <div class="page-iphone"><img src="images/Home/iPhone_5s.png" /></div>
                            <div class="page-right">
                                <h5>For Tutors...</h5>
                                <p> You set your own prices for each class<br>
                                    you teach.</p>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>

            <!--
            <hr style="border:3;height:1px" width="80%" color=#4A4A4A size=3>

            <div id="footer">
                <div id="footer-nav">
                    <ul id="footer-nav-ul">
                        <li><a href="term.html">Terms of Use</a></li>
                        <li><a href="privacy.html">Privacy</a></li>
                        <li><a href="academicIntegrity.html">Academic Integrity</a></li>
                        <li><a href="faq.html">Safety Tips</a></li><br>
                    </ul>
                </div>
                <div id="footer-info">
                    <p>© Helpers Technology, Inc.</p>
                </div>
            </div>
            -->
        </div>
    </div>


    <nav id="navleft" ng-hide="currentPage === 1">
        <div id="navleft-title">
            <img src="images/Home/smallLogo.png" id="navleft-image" />
            <em>Helpers</em>
        </div>
        <div style="clear:both"></div>
        <ul id="navleft-ul">
            <li id="navleft-2">
                <img src="images/Home/radio.png" ng-hide="currentPage===2"/>
                <img src="images/Home/radio_active.png" ng-show="currentPage===2"/>
                <a href="#page2" du-smooth-scroll du-scrollspy ng-click="currentPage = 2;">Whatever</a></li>
            <li id="navleft-3">
                <img src="images/Home/radio.png" ng-hide="currentPage===3"/>
                <img src="images/Home/radio_active.png" ng-show="currentPage===3"/>
                <a href="#page3" du-smooth-scroll du-scrollspy ng-click="currentPage = 3;">Whenever</a></li>
            <li id="navleft-4">
                <img src="images/Home/radio.png" ng-hide="currentPage===4"/>
                <img src="images/Home/radio_active.png" ng-show="currentPage===4"/>
                <a href="#page4" du-smooth-scroll du-scrollspy ng-click="currentPage = 4;">Whoever</a></li>
            <li id="navleft-5">
                <img src="images/Home/radio.png" ng-hide="currentPage===5"/>
                <img src="images/Home/radio_active.png" ng-show="currentPage===5"/>
                <a href="#page5" du-smooth-scroll du-scrollspy ng-click="currentPage = 5;">Wherever</a></li>
            <li id="navleft-6">
                <img src="images/Home/radio.png" ng-hide="currentPage===6"/>
                <img src="images/Home/radio_active.png" ng-show="currentPage===6"/>
                <a href="#page6" du-smooth-scroll du-scrollspy ng-click="currentPage = 6;">$$$ever</a></li>
        </ul>
    </nav>

    <!--
    <div id="iphone-im" ng-hide="currentPage === 1">
        <img src="images/Home/iPhone_5s.png" />
    </div>
    -->

    <div class="scroll-tip" id="scroll-tip-1" ng-show="currentPage === 1">
        <a href="#page2" du-smooth-scroll du-scrollspy class="next-page" style="text-align: center" ng-click="currentPage=2;">
            <div class="scroll-tip-bg">
                <div id="down-arrow-1-im">
                    <img src="images/Home/arrow.png"/>
                </div>
            </div>
        </a>
    </div>

    <div class="scroll-tip" id="scroll-tip" ng-hide="currentPage === 1 || currentPage === 6">
        <a href={{"#page"+(currentPage)}} du-smooth-scroll du-scrollspy class="next-page" style="text-align: center" ng-click="currentPage = (currentPage + 1 > 6) ? 6 : (currentPage + 1)">
            <div class="scroll-tip-bg">
                <div class="arrow-im">
                    <img src="images/Home/arrow.png"/>
                </div>
            </div>
        </a>
    </div>

    <div class="scroll-tip" id="scroll-tip-up" ng-hide="currentPage === 1">
        <a href={{"#page"+(currentPage)}} du-smooth-scroll du-scrollspy class="next-page" style="text-align: center" ng-click="currentPage = (currentPage - 1 < 1) ? 1 : (currentPage - 1)">
            <div class="scroll-tip-bg">
                <div class="arrow-im">
                    <img src="images/Home/arrow_up.png"/>
                </div>
            </div>
        </a>
    </div>
</div>

<script>
    function disableBodyArea(){
        var sWidth = document.body.offsetWidth;
        var sHeight = 7 * screen.height;
        var bgObj = document.createElement("div");
        bgObj.setAttribute('id','bgDiv');
        bgObj.style.position = "absolute";
        bgObj.style.top = "0";
        bgObj.style.background = "#777";
        bgObj.style.filter = "progid:DXImageTransform.Microsoft.Alpha(style=3,opacity=25,finishOpacity=75)";
        bgObj.style.opacity = "0.6";
        bgObj.style.left = "0";
        bgObj.style.width = sWidth + "px";
        bgObj.style.height = sHeight + "px";
        bgObj.style.zIndex = "1000";
        document.body.appendChild(bgObj);

        var msgw = 400;
        var msgh = 600;
        var bordercolor = "#979797";
        var msgObj = document.createElement("div");
        msgObj.setAttribute("id","msgDiv");
        msgObj.setAttribute("align","center");
        msgObj.style.background = "#FFFFFF";
        msgObj.style.border = "2px solid " + bordercolor;
        msgObj.style.borderRadius = "6px";
        msgObj.style.position = "fixed";
        msgObj.style.left = "50%";
        msgObj.style.top = "20%";
        msgObj.style.font = "12px/1.6em Verdana, Geneva, Arial, Helvetica, sans-serif";
        msgObj.style.marginLeft = "-225px" ;
        msgObj.style.marginTop = -75+document.documentElement.scrollTop+"px";
        msgObj.style.width = msgw + "px";
        msgObj.style.height = msgh + "px";
        msgObj.style.textAlign = "center";
        msgObj.style.lineHeight = "25px";
        msgObj.style.zIndex = "1001";
        document.body.appendChild(msgObj);

        var button=document.createElement("input");
        button.setAttribute("type","button");
        button.setAttribute("value","Close");
        button.style.width = "60px";
        button.style.align = "center";
        button.style.marginLeft = "400px";
        button.style.marginBottom = "-100px";
        button.style.background = "#FFFFFF";
        button.style.border = "2px solid "+ bordercolor;
        msgObj.style.borderRadius = "6px";
        button.style.color = "#4A4A4A";
        button.onclick = removeObj;
        document.getElementById("msgDiv").appendChild(button);

        function removeObj(){
            document.body.removeChild(bgObj);
            document.body.removeChild(msgObj);
        }
    }

    function scrollFunc(evt) {
        evt = evt || window.event;
        if (evt.preventDefault) {
            evt.preventDefault();
            evt.stopPropagation();
        } else {
            evt.cancelBubble = true;
            evt.returnValue = false;
        }
        return false;
    }

    window.onload = function(){
        var winWidth = document.body.offsetWidth;
        var tipWidth = winWidth - 210;

        var scrollTip = document.getElementById("scroll-tip");
        var scrollTipUp = document.getElementById("scroll-tip-up");
        var pagesLeft = document.getElementsByClassName("page-left");
        var pagesRight = document.getElementsByClassName("page-right");
        var pagesIphone = document.getElementsByClassName("page-iphone");
        var page = document.getElementById("page-2");
        //var widthNavbar = document.getElementById("navbar").clientWidth;

        scrollTip.style.width = tipWidth + "px";
        scrollTipUp.style.width = tipWidth + "px";

        for (var index = 0; index < pagesLeft.length; index++) {
            //pagesLeft[index].style.paddingTop = gap + "px"; //for test
            var widthLeft = pagesLeft[index].clientWidth;
            var widthRight = pagesRight[index].clientWidth;
            var widthIphone = pagesIphone[index].clientWidth;
            var widthPage = page.clientWidth;
            if (!(widthLeft + widthRight + widthIphone > widthPage)) {
                var gap = ((widthPage - widthLeft - widthRight - widthIphone) / 4) / widthPage * 100;
                pagesLeft[index].style.paddingLeft = gap + "%";
                pagesIphone[index].style.paddingLeft = gap + "%";
                pagesRight[index].style.paddingLeft = gap + "%";
            }
        }

        if (document.addEventListener) {
            document.addEventListener('DOMMouseScroll', scrollFunc, false);
        }
        window.onmousewheel = document.onmousewheel = scrollFunc;
    }
</script>
</div>