<style>
  #background {
    background-image: url('../images/backgrounds/signup.png');
  }
</style>

<div class="vertSpace25"></div>

<div class="form-container" ng-controller="preSignupCtrl">
  <form ng-submit="bcEmail()">
    <h1 class="centered"> Enter your school email </h1>
    <br>

    <h3 class="centered"> We need your school email to check if <i>Helpers</i> is available at your school. </h3>
    <br>

    <div class="form-group centered">
      <input type="email" ng-model="newUser.email" placeholder="Input School Email" required/>
    </div>
    <br>

    <div class="centered">
      <button class="btn btn-success" type="submit" ng-click='submitPreForm()'> Submit</button>
    </div>
    <br>

    <!-- This will be added when emails are split into two subscription lists transaction and promotional
    <h2 class="centered">
      <input type="checkbox" ng-model="subscribe" value="Subscribe"> Subscribe to our mailing list.
    </h2>
    <br> -->

    <h3 class="centered" ng-show="notAvailable">Sorry, the <i>Helpers</i> beta is not available at your school.</h3>

    <!-- Anti-Bot signup from MailChimp (currently figuring out how to use this)-->

    <div style="position: absolute; left: -5000px;"><input type="text" name="b_ac52c0e2e1d3f827076d7c72b_680f362ae2"
                                                           tabindex="-1" value=""></div>

    <!-- End anti-bot signup -->

  </form>

  <div id="mc_embed_signup">
    <form action="//helpers.us11.list-manage.com/subscribe/post?u=ac52c0e2e1d3f827076d7c72b\&amp;id=680f362ae2"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <h2>Subscribe to our mailing list</h2>

        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
          </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>

        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">

      </div>
    </form>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>(function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = 'EMAIL';
    ftypes[0] = 'email';
  }(jQuery));
  var $mcj = jQuery.noConflict(true);</script>
  <!--End mc_embed_signup-->
</div>
